*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(home.jpg);
    background-size:cover ;
    background-position:center;
}
.navbar{
    width:85%;
    margin: auto;
    padding:35px 0 ;
    display:flex ;
    align-items: center;
    justify-content:space-between ;
    
}
.logo{
    width: 150px;
    cursor:pointer ;
}
.navbar ul li{
    list-style: none;
    display: inline-block ;
    margin: 0 20px;

}
.navbar ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
 width: 100%;   
}
.content{
    width:100% ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border:  2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:relative ;
    overflow: hidden;
}
span{
    background:009688;
    height:100%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border: none;
}











#CONTACT{
    background: #000000;
  }
  
  footer{
    
    
    
    background: linear-gradient(to right,#00093c, #2d0b00);
    color: #fff;
    
    border-top-left-radius: 25px;
    font-size: 13px;
    line-height: 20px;
    
  }
  #new1{
    
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
  }
  .col{
    flex-basis: 25%;
    padding: 10px;
  }
  .col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
  }
  .logo44{
    width: 110px;
    height: 100px;
    margin-bottom: 30px;
  }
  #new3,h3{
    width: fit-content;
  
    position: relative;
  }
  #eM00{
    width: fit-content;
    border-bottom: 1px solid rgb(220, 211, 211);
    margin: 20px 0;
  }
  #addresscolor{
    color: pink;
    font-size: 15px;
  }
  
  #new4,ul,li{
    list-style: none;
    margin-bottom: 12px;
  }
  #new4,ul, li, a{
    text-decoration: none;
    color: #fff;
  
  }
  #frm{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    
    font-size: 20px;
  
  }
  #frm-fa{
    font-size: 18px;
    margin-right: 10px;
  }
  #frm input{
    
  background: transparent;
  color:#ccc;
  border: 0;
  outline: none;
  }
  #frm button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    color: yellow;
  }
  #frm button .fa-{
    font-size: 16px;
    color: #ccc;
  }
  .social-icons .fa-brands{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #000;
    background: #fff;  
    margin-right: 15px;
    cursor: pointer;
  }
  #wtsp{
    background-color: rgb(22, 216, 18);
    color: white;
  }
  #insta{
    background-color: rgb(240, 68, 68);
    color: white;
  }
  #twtr{
    background-color: rgb(55, 175, 222);
    color: white;
  }
  #fcbk{
    background-color: rgb(72, 72, 248);
    color: white;
  }
  
  hr{
    
    border: 0;
    border-bottom: 8px solid #ccc;
    margin: 20px auto;
  }
  .copyright{
    text-align: center;
  
  }
  .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  
  }
  .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 90px;
    animation: moving 2s linear infinite;
  }
  #again{
    font-family: cursive;
    font-size: 19px;
  }
  @keyframes moving{
    0%{
        left: -20px;
  
    }
    100%{
        left: 400%px;
    }
  }